<!-- No olvidar agregar ReactiveFormsModule en App.module.ts, util para trabajar con formularios-->
<form class="example-container" [formGroup]="form" #frmSigno="ngForm" (ngSubmit)="operar()">

  <div [hidden]="true">
      <mat-form-field class="example-full-width">
          <input matInput placeholder="ID" required formControlName="idSigno">
      </mat-form-field>
  </div>

  <mat-form-field>
    <mat-select placeholder="Paciente" [(value)]="pacienteSeleccionado" formControlName="paciente"
        (selectionChange)="seleccionarPaciente($event)">
        <mat-option *ngFor="let p of pacientes" [value]="p" >
            {{p.nombres}} {{p.apellidos}}
        </mat-option>
    </mat-select>
</mat-form-field>


<mat-form-field>
  <input matInput [matDatepicker]="picker" placeholder="Escoge una fecha" [max]="maxFecha"
      formControlName="fecha">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

  <mat-form-field class="example-full-width">
      <input matInput placeholder="Pulso" required formControlName="pulso">
  </mat-form-field>

  <mat-form-field class="example-full-width">
      <input matInput placeholder="Ritmo" required formControlName="ritmo" >
  </mat-form-field>

  <mat-form-field class="example-full-width">
      <input matInput placeholder="Temperatura" required formControlName="temperatura">
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="frmSigno.invalid">
      <mat-icon>done</mat-icon>
      <span>Aceptar</span>
  </button>
  <button mat-raised-button color="accent" routerLink='/pages/signos' type="button">
      <mat-icon>close</mat-icon>
      <span>Cancelar</span>
  </button>

</form>
